In [16]:
import pandas as pd
df = pd.read_csv('movie_out.csv', sep='\t', index_col=False)
sdf = df

In [17]:
sdf.sort_values('release_year', inplace=True)
sdf

,movieid,title,release_year,runtime,type
906332,tt3155794,Passage de Venus,1874,1,"Documentary,Short"
621606,tt14495706,La Rosace Magique,1877,1,"Animation,Short"
810951,tt2221420,Sallie Gardner at a Gallop,1878,1,"Documentary,Short"
508683,tt12592084,Le singe musicien,1878,1,"Animation,Short"
1243122,tt7816420,Athlete Swinging a Pick,1881,1,"Documentary,Short"
...,...,...,...,...,...
655386,tt15060364,Old Nick 2,2026,360,Thriller
1322906,tt9317988,Space: The Traveler,2027,30,"Sci-Fi,Short"
539315,tt13130272,"Fire, Ready, Aim",2027,1,"Action,Short"
655387,tt15060386,Old Nick 3,2027,360,Thriller
681383,tt15465392,Maroon by Day,2027,30,"Drama,Short,Thriller"

In [18]:
sdf = sdf[~sdf['type'].str.contains('Adult')]
sdf

,movieid,title,release_year,runtime,type
906332,tt3155794,Passage de Venus,1874,1,"Documentary,Short"
621606,tt14495706,La Rosace Magique,1877,1,"Animation,Short"
810951,tt2221420,Sallie Gardner at a Gallop,1878,1,"Documentary,Short"
508683,tt12592084,Le singe musicien,1878,1,"Animation,Short"
1243122,tt7816420,Athlete Swinging a Pick,1881,1,"Documentary,Short"
...,...,...,...,...,...
655386,tt15060364,Old Nick 2,2026,360,Thriller
1322906,tt9317988,Space: The Traveler,2027,30,"Sci-Fi,Short"
539315,tt13130272,"Fire, Ready, Aim",2027,1,"Action,Short"
655387,tt15060386,Old Nick 3,2027,360,Thriller
681383,tt15465392,Maroon by Day,2027,30,"Drama,Short,Thriller"

In [27]:
sdf = sdf[sdf['runtime'] > 60]
sdf = sdf[sdf['release_year'] <= 2021]
sdf.tail(10000)

,movieid,title,release_year,runtime,type
1165159,tt6587640,Trolls World Tour,2020,90,"Adventure,Animation,Comedy"
553027,tt13369122,Tengaramon,2020,109,"Biography,Drama,History"
1166106,tt6606816,A Week at the Club,2020,78,"Documentary,Music"
553412,tt13373352,Bikin Filem,2020,70,Comedy
482701,tt12137660,White Demise,2020,70,"Drama,Fantasy"
...,...,...,...,...,...
633799,tt14691506,Entrelaçados,2021,94,Drama
633881,tt14692892,Envision,2021,81,Drama
633409,tt14684116,Passion,2021,92,Documentary
504564,tt12509164,La santa piccola,2021,97,Drama
633794,tt14691366,Rudra Gadh @6km,2021,120,Horror

In [28]:
sdf.to_csv('movie_out.csv', sep='\t', index=False)
#first filter out#